.itemwrapper {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 70px 1fr;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.description {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    min-height: 66px;
}

.animatedbg {
    background-image: linear-gradient( to right, #f6f7f8 0%, #edeef1 10%, #f6f7f8 20%, #f6f7f8 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.animatedbgtext {
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}