.wrapper {
    padding: 20px;
    width: auto;
}

.preloader {
    padding: 0;
}

.head {
    padding-bottom: 10px;
    font-weight: 700;
    color: #00476b;
    font-size: 20px;
}

.pagesList {
    display: flex;
    flex-wrap: wrap;
    color: #00476b;
    padding-bottom: 10px;
    padding-left: 70px;
}

.pagesList>button:hover {
    color: #ff0000;
}

.pageNumberButton {
    padding-left: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #00476b;
    background-color: #e2e1e3;
    font-size: 16px;
}

.selected {
    color: #00476b;
    font-weight: bold;
}

.prevPageButton {
    position: relative;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px;
    background: #00476b;
    transition: 0.7s;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 70px;
}

.nextPageButton {
    position: relative;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px;
    background: #00476b;
    transition: 0.7s;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
}

.prevPageButton::after {
    content: '<';
    position: absolute;
    left: -30px;
    top: 0;
    width: 30px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 800;
    height: 40px;
    border: none;
    border-radius: 7px 0 0 7px;
    background-color: #cf7200;
    transition: 0.7s;
}

.nextPageButton::after {
    content: '>';
    position: absolute;
    right: -30px;
    top: 0;
    width: 30px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 800;
    height: 40px;
    border: none;
    border-radius: 0 7px 7px 0;
    background-color: #cf7200;
    transition: 0.7s;
}

.nextPageButton:hover {
    position: relative;
    background-color: darkorange;
    padding-right: 40px;
}

.prevPageButton:hover {
    position: relative;
    background-color: darkorange;
    padding-left: 40px;
}

.nextPageButton:hover:after {
    right: 0;
}

.prevPageButton:hover:after {
    left: 0;
}