.MyPosts {
    padding: 0 20px 20px 20px;
}

.MyPosts h1 {
    color: #00476b;
    margin: 0 0 10px 0;
}

.input {
    width: 100%;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.NewPost {
    background-color: #c7c7c7;
    padding: 10px;
    border-radius: 5px;
}

.button {
    border: none;
    border-radius: 7px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px;
    background: #00476b;
    outline: none;
    transition: 0.5s;
}

.button:hover {
    background: darkorange;
}

.Post {
    margin-top: 20px;
}