.MyPosts {
    padding: 20px;
}

.MyPosts h1 {
    color: #00476b;
    margin-bottom: 10px;
}

.NewPost textarea {
    width: 100%;
    resize: none;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;

}

.NewPost {
   background-color: #c7c7c7;
    padding: 10px;
    border-radius: 5px;
}

.NewPost button {
    border: none;
    border-radius: 7px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px;
    background: #00476b;
    outline: none;

}

.Post {
    margin-top: 20px;
}