.MyPosts {
    padding: 20px;
}

.MyPosts h1 {
    font-family: 'Kaushan Script', cursive;
    color: #00476b;
    margin-bottom: 10px;
}

.NewPost textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    resize: none;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;

}

.NewPost {
    background-color: #a9c9da;
    padding: 10px;
}

.NewPost button {
    border: none;
    border-radius: 7px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px;
    background: #5096bb;
    outline: none;

}

.Post {
    margin-top: 20px;
}