.textarea {
    margin-bottom: 5px;
}

.textarea.error input,
.textarea.error textarea {
    border: 2px brown solid;
}

.textarea.error span {
    font-size: 10px;
    color: brown;
    font-weight: 500;
    font-style: italic;
}