.itemwrapper {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.description {
    border-radius: 5px 0 0 5px;
    background-color: white;
    padding: 10px;
    min-height: 66px;
}

.fullname {
    font-weight: 800;
}

.status {
    font-style: italic;
}

.location {
    color: darkgray;
}

.follow {
    text-align: right;
    border-radius: 0 5px 5px 0;
    background-color: white;
}

.follow button {
    margin: 5px 20px 0 0;
    width: 35px;
    height: 35px;
    line-height: 32px;
    border: none;
    font-weight: 800;
    text-decoration: none;
    background-color: #fff;
    outline: none;
    text-align: center;
    font-size: 30px;
}

.follow button i {
    color: #00476b;
}

.follow button:hover i {
    color: #d8b800;
}

.follow button:disabled i {
    color: #ff0000;
}