.head {
   display: grid;
   grid-template-columns: 100px 1fr;
   padding: 20px;
}

.userAvatar {
   border-radius: 50%;
   width: 100px;
   height: 100px;
}

.userData {
   padding-left: 20px;
   font-weight: 400;
   font-size: 50px;
   color: #00476b;
}