.Post {
   padding: 10px;
   background-color: #a9c9da;
}

.content {
   display: flex;

}

.Post img {
   width: 40px;
   border-radius: 30%;
}

.txt {
   padding-left: 20px;
   color: #00476b;
}

.like {
   margin-top: 10px;
   border-top: #394f77 1px solid;
   text-align: right;
   color: #394f77;
   padding-right: 10px;
}