.Post {
   padding: 10px;
   background-color: #c7c7c7;
}

.content {
   display: grid;
   grid-template-columns: 50px 1fr 50px;
}

.Post img {
   width: 40px;
   border-radius: 7px;
}

.txt {
   padding: 5px 10px;
   border-radius: 7px;
   color: #00476b;
   background-color: #fff;
}

.like {
   margin-top: 10px;
   text-align: right;
   color: #394f77;
   padding-right: 10px;
}