.dialogs {
   display: grid;
   grid-template-columns: 200px 10fr;
   height: 100%;
}

.dialogItems {
   padding: 20px;
   height: 100%;
   background-color: #b7d0dd;
}

.dialogItems a {
   text-decoration: none;
   list-style: none;
   color: black;
}

.messages {
   padding: 20px;
}