.dialogs {
    display: grid;
    grid-template-columns: 200px 10fr;
    height: 100%;
}

.dialogItems {
    padding: 20px;
    height: 100%;
    background-color: #c7c7c7;
}

.dialogItems a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.messages {
    padding: 20px;
}

.newMessage {
    background-color: #c7c7c7;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    margin-top: 20px;
}

.input {
    width: 100%;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.button {
    border: none;
    border-radius: 7px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px;
    background: #00476b;
    outline: none;
    transition: 0.5s;
}

.button:hover {
    background: darkorange;
}